<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="wow fadeIn">

  <div class="overlay"></div>

  <div class="container-fluid content">
    <div id="email-alert" class="alert alert-success hidden" role="alert">
        <strong>Thanks!</strong> We have received your email and we will respond ASAP.
    </div>

      <div class="row content">
          <div class="col-md-9 promo">
              <div class="row intropromo">
                  <div class="col-sm-7">
                      <h3 class="wow bounceInDown">Bimfizzle.com</h3>
                      <ul class="list-inline lead">
                          <li><a data-target="#aboutModal1" data-toggle="modal" class="btn btn-white btn-lg wow fadeInRight">More Info</a></li>
                      </ul>
                  </div>
                  <div class="col-sm-5">
                      <h4>Custom Software</h4>
                      <p>We do custom software for businesses, individuals, and non-profits.  We value working software and clean code.  Check out some of our work <a href="#" data-target="#aboutModal1" data-toggle="modal">here</a>.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-left no-pad">
              <div class="leftline leftline-dark wow fadeInLeft">
                  <div class="leftlineinside">
                      <div class="row">
                          <div class="col-md-12 col-sm-6">
                              <h1 class="logo"><img src="images/logo.png" alt="Logo" style="max-height: 160px;"></h1>
                          </div>
                          <div class="col-md-12 col-sm-6">
                              <h2>Hire Bimfizzle</h2>
                              <p>Tell us who you are and how to contact you.  We will be in touch and we hope to form a lasting partnership!</p>
                              <form role="form" method="POST" action="http://formspree.io/wpoindexter@bimfizzle.com" class="form-inline subscribe-form" target="_blank" id="email_form">
                                  <div class="input-group input-group-lg">
                                      <input type="text" name="name" class="form-control" id="mce-EMAIL" placeholder="Your name...">
                                      <input type="email" name="email" class="form-control" id="mce-EMAIL" placeholder="Your email address..." required="">
                                      <input type="text" name="company" class="form-control" id="mce-COMPANY" placeholder="Your company...">
                                      <input type="hidden" name="_next" value="//localhost:4000?thanks=true" />
                                       <input type="hidden" name="_subject" value="New Website Contact" />
                                       <input type="text" name="_gotcha" style="display:none" />
                              <span class="input-group-btn">
                              <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-blue">Go</button>
                              </span>
                                  </div>
                                  <div id="mce-responses">
                                      <div class="response" id="mce-error-response" style="display:none"></div>
                                      <div class="response" id="mce-success-response" style="display:none"></div>
                                  </div>
                              </form>
                              <p><i class="fa fa-envelope fa-fw"></i> info@bimfizzle.com<br>
                                  <i class="fa fa-map-marker fa-fw"></i> Atlanta, GA</p>
                              <a href="http://facebook.com/bimfizzle" target="_blank"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                              <a href="http://twitter.com/bimfizzle" target="_blank"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                              <a href="http://instagram.com/bimfizzle" target="_blank"><i class="fa fa-instagram fa-fw fa-2x"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="about-modal modal fade" id="aboutModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content text-center">
              <div class="close-modal" data-dismiss="modal">
                  <i class="icon ion-ios-close-empty"></i>
              </div>
              <div id="about" class="container wow fadeIn animated">
                  <div class="row">
                      <div class="col-lg-12">
                          <img src="images/logodark.png" alt="Logo" style="max-height: 200px;">
                          <h3>Here are a few projects that we've worked on...</h3>
                          <hr>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-delay=".2s">
                          <a href="http://insohairschool.com" target="_blank"><h4><i class="icon ion-android-desktop" data-wow-duration="7s" data-wow-delay=".7s"></i>
                              <img src="images/inso.png" class="img-responsive img-centered" alt="">
                              INSO Hair School</h4></a>
                          <p>Full responsive website build including a completely functional educational system.</p>
                      </div>
                      <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-delay=".8s">
                        <a href="http://digitalinsurance.com" target="_blank"><h4><i class="icon ion-android-list"></i>
                              <img src="images/di.jpg" class="img-responsive img-centered" alt="">
                              Digital Insurance</h4></a>
                          <p>Auxiliary website build (people.digitalinsurance.com) with custom administration control.</p>
                      </div>
                      <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-delay=".8s">
                          <a href="http://carlingo.com" target="_blank"><h4><i class="icon ion-android-person-add"></i>
                              <img src="images/carlingo.svg" class="img-responsive img-centered" alt="">
                              Car Lingo</h4></a>
                          <p>Staff augmented for this wonderful start-up as they got permanent people in place.</p>
                      </div>
                      <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-delay=".6s">
                          <a href="http://basichaircarepro.com" target="_blank"><h4><i class="icon ion-android-desktop"></i>
                              <img src="images/basic.png" class="img-responsive img-centered" alt="">
                              Basic Hair Care</h4></a>
                          <p>Full responsive website build including a custom CRM and an automated customer - to - distributor - to - manufacturer pipeline.</p>
                      </div>
                  </div>
              </div>
              <button type="button" class="btn btn-dark btn-lg" data-dismiss="modal">CLOSE</button>
          </div>
      </div>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/device.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/smoothscroll.js"></script>

  <!-- Background Slider -->
  <script src="js/vegas/vegas.min.js"></script>
  <script>
      $('body').vegas({
          delay: 6000,
          timer: false,
          transitionDuration: 2000,
          slides: [
              { src: 'images/0.png' },
              { src: 'images/1.jpg' },
              { src: 'images/2.jpg' }
          ],
          transition: 'swirlRight',
          animation: 'kenburns'
      });

      function $_GET(param) {
      	var vars = {};
      	window.location.href.replace(
      		/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
      		function( m, key, value ) { // callback
      			vars[key] = value !== undefined ? value : '';
      		}
      	);

      	if ( param ) {
      		return vars[param] ? vars[param] : null;
      	}
      	return vars;
      }

      if ($_GET('thanks') == 'true') {
        $('#email-alert').removeClass('hidden');
      }
  </script>

  <!-- Custom Theme JavaScript -->
  <script src="js/xslanding.js"></script>
  </body>

</html>
