<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="wow fadeIn">

  <div class="overlay"></div>

  <div class="container-fluid content">

    <div class="row content">
      <div class="col-md-9 promo">
        <div class="row intropromo">
          <div class="col-sm-7">
            <h3 class="wow bounceInDown">Bimfizzle.com</h3>
          </div>
          <div class="col-sm-5">
            <h4>Custom Software</h4>
            <p>We do custom software for businesses, individuals, and non-profits. We value working software and clean code.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-left no-pad">
        <div class="leftline leftline-dark wow fadeInLeft">
          <div class="leftlineinside">
            <div class="row">
              <div class="col-md-12 col-sm-6">
                <h1 class="logo"><img src="images/logo.png" alt="Logo" style="max-height: 160px;"></h1>
              </div>
              <div class="col-md-12 col-sm-6">
                <h2>Hire Bimfizzle</h2>
                <p>Tell us who you are and how to contact you. We will be in touch and we hope to form a lasting partnership!</p>
                <form class="form-inline subscribe-form" id="contact-form">
                  <div class="input-group input-group-lg">
                    <input type="text" name="name" class="form-control" id="contact-name" placeholder="Your name...">
                    <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your email address..." required="">
                    <input type="text" name="company" class="form-control" id="contact-company" placeholder="Your company...">
                    <input type="hidden" name="_subject" value="New Website Contact" />
                    <input type="text" name="_gotcha" style="display:none" />
                    <div id="contact-button-wrapper">
                      <button type="submit" name="subscribe" id="contact-button" class="btn btn-blue btn-block" autocomplete="off" data-loading-text="Sending...">Go</button>
                    </div>
                  </div>
                </form>
                <p><i class="fa fa-envelope fa-fw"></i> info@bimfizzle.com
                  <br>
                  <i class="fa fa-map-marker fa-fw"></i> Atlanta, GA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="js/device.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/smoothscroll.js"></script>

  <!-- Background Slider -->
  <script src="js/vegas/vegas.min.js"></script>
  <script>
    $('body').vegas({
      delay: 6000,
      timer: false,
      transitionDuration: 2000,
      slides: [{
        src: 'images/0.png'
      }, {
        src: 'images/1.jpg'
      }, {
        src: 'images/2.jpg'
      }],
      transition: 'swirlRight',
      animation: 'kenburns'
    });

    $('#contact-form').submit(function(event) {
      var $button = $('#contact-button').button('loading');
      $.ajax({
        url: '//formspree.io/info@bimfizzle.com',
        method: 'POST',
        data: {
          name: $('#contact-name').val(),
          email: $('#contact-email').val(),
          company: $('#contact-company').val()
        },
        dataType: 'json',
        encode: true
      }).done(function(data) {
        if (data.success != null) {
          $button.button('reset');
          $('#contact-button-wrapper').html("<div class='well'><p class='text-success'>Thanks!  We have received your email and we will respond soon</p><a href='.' class='btn btn-info btn-block'><i class='fa fa-refresh'></i></a></div>");
        }
      });
      event.preventDefault();
    });
  </script>

  <!-- Custom Theme JavaScript -->
  <script src="js/xslanding.js"></script>
</body>

</html>
